@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
li {
  list-style: none;
}

.sectionIntro {
  display: flex;
  flex-direction: row;
  position: absolute;

  gap: 1rem;
  top: 212px;
  left: 166.5px;
  h5 {
    color: $grey;
  }
  p {
    color: $white;
  }
}
@media (max-width: 768px) {
  .sectionIntro {
    left: 38.5px;
    top: 136px;
  }
}
@media (max-width: 375px) {
  .sectionIntro {
    width: 100%;
    align-items: center;
    left: 0;
    top: 10%;
    justify-content: center;
  }
}
